[Unit]
Description=Jupyter Lab Service
After=network.target
[Service]
Type=simple
PIDFile=/run/jupyter.pid
ExecStart=/home/ubuntu/anaconda3/bin/jupyter-lab --allow-root --ip=0.0.0.0 --no-browser
#ExecStop=/home/ubuntu/anaconda3/bin/jupyter-lab stop --allow-root --ip=0.0.0.0 --no-browser
User=ubuntu
Group=ubuntu
WorkingDirectory=/
RestartSec=10
Restart=always
[Install]
WantedBy=multi-user.target

